@charset "UTF-8";
p {
  font-size: 12pt;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  font-size: 14pt;
  margin-left: 1rem;
  margin-bottom: 0;
}

h2 {
  font-size: 12pt;
  margin-left: 1rem;
  margin-bottom: 0;
}

h3 {
  font-size: 12pt;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.body {
  background-image: url(/photos/platno_vzorek_maly.jpg);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.all-wrapper {
  background-color: white;
  box-shadow: 6px 6px 20px 0px rgba(196, 93, 93, 0.3);
}
@media screen and (min-width: 1024px) {
  .all-wrapper {
    width: 50%;
    margin: auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
}
.header__logo {
  display: flex;
  margin: 0 0 0 0;
  justify-content: center;
}
.header__logo img {
  min-width: 100px;
  max-width: 30%;
  margin: 0;
}

.nav-menu {
  font-size: 12pt;
}
.nav-menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.nav-menu__list__item {
  margin: 0 10px;
}
.nav-menu__list__item__link {
  text-decoration: none;
  color: #333333;
  padding: 6px;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .nav-menu__list__item__link {
    padding: 8px;
  }
}
.nav-menu__list__item__link:hover::after {
  opacity: 1;
}
.nav-menu__list__item__link::after {
  content: "";
  background-image: url("/photos/podtrzitko.png/");
  background-size: 100%;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s;
}

.nav-menu::before {
  content: "";
  background-image: url("/photos/podtrzitko.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 100%;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .nav-menu::before {
    flex-direction: column;
  }
  .nav-menu::before__logo {
    margin: 0px;
  }
  .nav-menu::before .nav-menu {
    flex-direction: column;
  }
  .nav-menu::before .nav-menu__list {
    justify-content: center;
  }
  .nav-menu::before .nav-menu__list__item {
    margin: 5px 0;
  }
}

/*index - main section*/
.main a {
  text-decoration: none;
  font-weight: 700;
  color: #555;
}
.main a:visited {
  color: rgb(122, 31, 122);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__image {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main__image {
    width: 60%;
    margin: auto;
  }
}
.main__image-img {
  width: 100%;
  height: auto;
  position: relative;
}
.main__content {
  text-align: center;
  width: 90%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main__content {
    width: 60%;
  }
}
.main__content-heading {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.main__content-text {
  color: #555;
}

/*Galerie*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}
.gallery__item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.gallery__item-img {
  width: 100%;
  height: 100%;
}
.gallery__item:hover .gallery__item__caption {
  opacity: 1;
}
.gallery__item__caption {
  width: calc(100% - 1em);
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 50px;
  padding-left: 1em;
  color: white;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 100%;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.25s;
}
@media screen and (min-width: 767px) {
  .gallery__item__caption {
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-title {
  margin-bottom: 1rem;
}

img.photo-gallery__image {
  transition: opacity 0.25s;
}

img.photo-gallery__image:hover {
  opacity: 0.3;
}

.photo-gallery__item:has(.photo-gallery__item__caption:hover) img {
  opacity: 0.3;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photo-gallery__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.photo-gallery__item:hover .photo-gallery__item__caption {
  opacity: 1;
}
.photo-gallery__item__caption {
  position: absolute;
  text-align: center;
  opacity: 0;
  color: black;
  transition: opacity 0.25s;
}
@media (min-width: 768px) {
  .photo-gallery__item {
    flex-basis: calc(33.33% - 10px);
  }
}
@media (min-width: 1024px) {
  .photo-gallery__item {
    /* Pro počítače */
  }
}
.photo-gallery__image {
  width: 100%;
}

.form {
  margin: 1rem;
}

.form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  font-weight: bold;
}

.form__row__textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  height: 90pt;
}

.form__button {
  padding: 10px 20px;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 35%;
}
@media (min-width: 768px) {
  .form__button {
    width: 20%;
  }
}

.footer {
  background-color: black;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  padding: 50px;
  text-shadow: #000000;
}

.footer__content {
  display: flex;
  justify-content: center;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.detail__picture {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .detail__picture {
    width: 60%;
  }
}
.detail__title {
  padding-bottom: 1rem;
}
.detail .wrapper {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .detail .wrapper {
    width: 60%;
  }
}

.form {
  font-size: 12pt;
}
.form__row__line {
  width: 40%;
}
.form__input {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}
.form__row__line::after {
  content: "";
  background-image: url("/photos/podtrzitko.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 120%;
  height: 20px;
}
.form__row__textarea {
  height: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}