 $primary_background_color: white;
 $primary_font-size: 11px;
 $secondary_font-size: 13px;
 $primary_spacer: 1rem;
 $primary_box_shaodw: 6px 6px 20px 0px rgba(0, 0, 0, 0.3);
 $primary_font_family: 'Montserrat', sans-serif;

 p {
   font-size: $primary_font-size;
   margin-left: $primary_spacer;
   margin-right: $primary_spacer;
 }

 h1 {
   font-size: $secondary_font-size;
   margin-left: $primary_spacer;
   margin-bottom: 0;
 }

 h2 {
   font-size: $primary_font-size;
   margin-left: $primary_spacer;
   margin-bottom: 0;
 }

 h3 {
   font-size: $primary_font-size;
   margin-left: $primary_spacer;
   margin-bottom: 0;
   margin-top: 0;
 }

 .body {
   background-image: url(/photos/platno_vzorek_maly.jpg);
   margin: 0;
   font-family: $primary_font_family;
 }

 .all-wrapper {
   background-color: $primary_background_color;
   box-shadow: $primary_box_shaodw;

   @media screen and (min-width: 1024px) {
     width: 50%;
     margin: auto;

   }
 }

 //hlavička
 .header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: $primary_background_color;
   padding: 10px;

   &__logo {
     display: flex;
     margin: 0 0 0 0;
     justify-content: center;

     img {
       min-width: 100px;
       max-width: 30%;
       margin: 0
     }

     @media screen and (min-width: 768px) {
       margin: $primary_spacer;
     }
   }
 }

 .nav-menu {


   font-size: $primary_font-size;


   &__list {
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
     justify-content: space-between;

     &__item {
       margin: 0 10px;


       &__link {
         text-decoration: none;
         color: #333333;
         padding: 8px;
         position: relative;
         display: inline-block;
       }

       &__link:hover::after {
         opacity: 1;
       }

       &__link::after {
         content: "";
         background-image: url("/photos/podtrzitko.png/");
         background-size: 100%;
         height: 5px;
         width: 100%;
         position: absolute;
         bottom: 5px;
         right: 0;
         left: 0;
         opacity: 0;
         transition: opacity 0.25s;
       }
     }
   }
 }

 .nav-menu::before {
   content: "";
   background-image: url("/photos/podtrzitko.png");
   background-repeat: no-repeat;
   background-size: 100%;
   display: block;
   width: 100%;
   height: 20px;

   @media screen and (min-width: 768px) {
     flex-direction: column;

     &__logo {
       margin: 0px;
     }

     .nav-menu {
       flex-direction: column;

       &__list {
         justify-content: center;

         &__item {
           margin: 5px 0;
         }
       }
     }
   }
 }




 /*index - main section*/

 .main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   &__image {
     margin-bottom: 1rem;

     @media screen and (min-width: 768px) {
       width: 60%;
       margin: auto;
     }

     &-img {
       width: 100%;
       height: auto;


     }
   }

   &__content {
     text-align: center;
     width: 60%;

     &-heading {
       font-size: 12pt;
       font-weight: bold;
       margin-bottom: 0.5rem;
     }

     &-text {
       color: #555;
     }
   }
 }

 /*Galerie*/

 .gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 5px;

   &__item {
     overflow: hidden;
     cursor: pointer;
     position: relative;

     &-img {
       width: 100%;
       height: auto;
     }

     &:hover &__caption {
       opacity: 1;
     }

     &__caption {
       width: calc(100% - 1em);
       position: absolute;
       bottom: 0px;
       margin: 0;
       padding-bottom: 1em;
       padding-top: 50px;
       padding-left: 1em;
       color: white;
       background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
       background-size: 100%;

       z-index: 2;
       opacity: 0;
       transition: opacity 0.25s;
     }


   }

   // Responzivní styly
   @media (max-width: 767px) {
     grid-template-columns: repeat(1, 1fr);
   }

   @media (min-width: 768px) and (max-width: 1023px) {
     grid-template-columns: repeat(2, 1fr);
     margin-right: $primary_spacer;
     margin-left: $primary_spacer;
   }

   @media (min-width: 1024px) {
     grid-template-columns: repeat(3, 1fr);
   }
 }

 //O mě
 .photo-gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: $primary_spacer;

   &__item {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 20px;

     &__caption {
       position: absolute;
       text-align: center;


     }

     @media (min-width: 768px) {
       flex-basis: calc(33.33% - 10px);


     }

     @media (min-width: 1024px) {
       /* Pro počítače */

     }
   }

   &__image {
     width: 100%;
   }
 }

 //Formulář
 .form {
   margin: $primary_spacer;

 }

 .form__row {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
 }

 .form__label {
   font-weight: bold;
 }

 .form__row__textarea {
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
   width: 90%;
   height: 90pt
 }

 .form__button {
   padding: 10px 20px;
   background-color: #000000;
   font-family: $primary_font_family;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 20%;
 }

 //Patička
 .footer {
   background-image: url("/photos/paticka.jpg");
   color: white;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   width: auto;
   padding: 50px;

 }

 .footer__content {
   display: flex;
   justify-content: center
 }

 //jednotlivé obrazy
 .detail {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   &__picture {
     width: 100%;

     @media screen and (min-width: 768px) {
       width: 60%;
     }
   }

   &__title {
     padding-bottom: $primary_spacer;
   }

   .wrapper {
     width: 100%;
     text-align: center;

     @media screen and (min-width: 768px) {
       width: 60%;
     }
   }

 }

 //Formulář

 .form {
   font-size: $primary_font-size;

   &__input {
     outline: none;
     border: none;
   }

   &__input::after{
     content: "";
     background-image: url("/photos/podtrzitko.png");
     background-repeat: no-repeat;
     background-size: 100%;
     display: block;
     width: 100%;
     height: 20px;
   }
 }